# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# IDE files
.idea/
.vscode/

# Testing/cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db